* {
    box-sizing: border-box;
    
  }

 

.header {
  overflow: hidden;
  background-color: rgb(35, 35, 35);
  padding: 20px 10px;
  padding-left: 60px;
  padding-right:60px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo{
    font-size: 25px;
    font-weight: bold;
  }

  .header-right {
    float: right;
  }

  .slideimg .img1{
    width: 100%;
    height: 600px;
   
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.container h4{
    font-weight: 700PX;
    margin-bottom: 15px;
    color: #f33f3f;
  
}


.slideimg .container h2{
    color: #fff;
    font-size: 40px;
    letter-spacing: 0.5;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0px;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
}



h2{
    color: #1e1e1e;
    font-weight: 400px;
    margin-bottom: 15px;
    font-size: 28px;
}

div{
    display: block;
}

.latestproduct{
    margin-top: 100px;
}

* ::after, ::before {
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: #007bff;
    background-color: transparent;
}

.latestproduct .sechead a{
    float: right;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
    margin-top: -35px;
    text-transform: uppercase;
}

.col4{
    display: flex;               
    flex-direction: row;           
    flex-wrap: nowrap;              
    column-gap: 50px;  
    
}

.col4 p{
    text-align: center;
}

.productitem{
    margin-bottom: 30px;
    border: 1px solid #eee;
    display: inline-block;
    padding: 20px;
    
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .gridcontent:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid1{
    padding-top: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
  }
  .grid1 h4{
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
  }

  .gridcontent{
      padding-top: 40px;
      padding-bottom: 10px;
  }

  p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    padding-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 20px;
    font-family: poppins;
    
}

.list1 li a{
    color: #4a4a4a;
    line-height: 4fr;
}

a.filled-button{
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    margin-top: 10px;
}

.purchase{
    margin-top: 60px;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 5px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    align-items: center;
    padding-left: 50px;
    margin-left: 200px;
    margin-bottom: 60px;
}

.purchase a.filled-button{
    float: right;
    text-align: right;
}

.footer{
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.footer a{
    color: #f33f3f;
    margin-left: 3px;
}

hr{
    color: #f7f7f7;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.slideimg {
    width: 100%;
    position: relative;
    margin: auto;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    top: 230%;
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }